[submodule "contracts"]
	path = contracts
	url = https://github.com/NuttakitDW/zkotp-contracts
[submodule "circuit"]
	path = circuit
	url = https://github.com/NuttakitDW/zkotp-circuit
[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/NuttakitDW/zkotp-frontend
[submodule "apps/api"]
	path = apps/api
	url = https://github.com/NuttakitDW/zkotp-api
[submodule "zkotp-sdk"]
	path = zkotp-sdk
	url = https://github.com/NuttakitDW/zkotp-sdk
